node_modules
*.log
.tmp
.vscode
.nycrc
.travis.yml
yarn.lock
.env
.env.example
.git
.gitignore
.nyc_output
.editorconfig
.dockerignore
docker-compose.yml
docker-compose.example.yml
tslint.json
.nvmrc
.DS_Store
