# VS Code
.vscode

# Typescript
dist

# Temp
.tmp

# NodeJS
node_modules
*.log
yarn.lock

# Environment files
.env
!.env.example

# Firebase
firebase.json

# Ignore OS specific Files
.DS_Store
Thumbs.db

# Code Coverage
coverage
.nyc_output
